__pycache__/
*.pyc
*.out
*.log
.DS_Store

build/
.freebuff/

*.dcp
*.jou
*.str
.Xil/
clockInfo.txt

traces/champsim/

synthesis/reports/**/constraints_*ns.xdc
synthesis/reports/constraints_*ns.xdc

tools/
traces/
.github/
